# Restaurant_Recommendation_System_YELP

In [2]:
import pandas as pd
import numpy as np
from IPython.display import Image

FORMATAGE ET NETOYAGE DES DONNEES :

2 Noeuds
2 Relations

Attributs des Noeuds
user : 'user_id' , 'name' , 'review_count' , 'useful' , 'cool' , 'fans'
restaurants : 'business_id' , 'name' , 'city' , 'stars' , 'review_count' , 
                'attributes' {'Ambience' , 'RestaurantsPriceRange2'} , 'categories'

Attributs des Relations
friends : 'START_ID' , 'END_ID' 
review : 'review_id' , 'user_id' , 'business_id' , 'stars' , 'useful' , 'cool'

## A- Architecture proposée   
    Afin de couvrir l’ensemble du cas d’étude et pouvoir répondre à l’ensemble des requêtes traité dans 2. Interrogation des données, la Figure 1 représente la modélisation que nous proposons, deux types de nœuds : user et restaurants ainsi que deux types de relations : friends et review, chacun avec ces propres attributs.

In [3]:
Image(url='./Modeliation.jpg', width=800, height=800)

In [3]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## B Conversion des données json en données sous format csv 

Pour la transformation des trois fichiers de données en CSV, nous procédons à un nettoyage de données en suppriment quelques colonnes non essentielles à notre projet, les attributs retenues pour chaque nœud et relation :

    user : 'user_id' , 'name' , 'review_count' , 'friends' , 'useful' , 'cool' , 'fans'
    restaurants : 'business_id' , 'name' , 'city' , 'stars' , 'review_count' , 'attributes': {'Ambience' , 'RestaurantsPriceRange2'} , 'categories'

    friends : 'START_ID' , 'END_ID' 
    review : 'review_id' , 'user_id' , 'business_id' , 'stars' , 'useful' , 'cool'

## 1- user dataset

In [4]:
df = pd.read_json (r'pourLesEtudiants/yelp_data_json/yelp_user.json')

In [5]:
df.head(3)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,XLs_PhrJ7Qwn_RfgMM7Djw,Weili,90,2009-07-12 14:34:54,71,21,19,,[],1,3.62,0,0,0,0,0,1,3,0,0,0,0
1,IpLRJY4CP3fXtlEd8Y4GFQ,Robyn,518,2009-04-11 14:35:46,1325,450,348,"2009,2010,2011","[y3Wtx1pOvTiqsJRkjceXiw, _BcWyKQL16ndpBdggh2kN...",35,2.95,32,4,2,7,1,35,17,20,20,20,6
2,0juMoWXC7z4c7LgQP2s3sA,JR,199,2011-03-18 11:58:09,482,150,131,"2013,2014,2015,2016","[46Wi08T5D3phf3SMgi7U3w, HUxktqjf5kJm0tIHTCCws...",9,3.40,12,2,0,0,0,5,3,13,13,16,1

### Attributs des Noeuds
### user : 'user_id' , 'name' , 'review_count' , 'useful' , 'cool', 'friends' , 'fans'

In [6]:
user=df[['user_id','name','review_count','useful','fans','friends']]
user.head(3)

,user_id,name,review_count,useful,fans,friends
0,XLs_PhrJ7Qwn_RfgMM7Djw,Weili,90,71,1,[]
1,IpLRJY4CP3fXtlEd8Y4GFQ,Robyn,518,1325,35,"[y3Wtx1pOvTiqsJRkjceXiw, _BcWyKQL16ndpBdggh2kN..."
2,0juMoWXC7z4c7LgQP2s3sA,JR,199,482,9,"[46Wi08T5D3phf3SMgi7U3w, HUxktqjf5kJm0tIHTCCws..."

In [7]:
user.shape

(23082, 6)

In [8]:
lst=[]
for i in range(len(user)):
    lst.append(len(df['friends'][i]))
user.insert(4, 'nb_friends', lst)

In [9]:
user=user.rename(columns={"user_id": "user_id:ID(user)"})
user.head(3)

,user_id:ID(user),name,review_count,useful,nb_friends,fans,friends
0,XLs_PhrJ7Qwn_RfgMM7Djw,Weili,90,71,0,1,[]
1,IpLRJY4CP3fXtlEd8Y4GFQ,Robyn,518,1325,23,35,"[y3Wtx1pOvTiqsJRkjceXiw, _BcWyKQL16ndpBdggh2kN..."
2,0juMoWXC7z4c7LgQP2s3sA,JR,199,482,4,9,"[46Wi08T5D3phf3SMgi7U3w, HUxktqjf5kJm0tIHTCCws..."

In [10]:
user.to_csv(r'C:/Users/Utilisateur/Desktop/data_csv_neo4j/user.csv', index = None)

## 2- Friend dataset
### Attributs des Relations
### friends : 'START_ID' , 'END_ID

In [11]:
friend=df[['user_id','friends']]
friend.head(3)

                  user_id                                            friends
0  XLs_PhrJ7Qwn_RfgMM7Djw                                                 []
1  IpLRJY4CP3fXtlEd8Y4GFQ  [y3Wtx1pOvTiqsJRkjceXiw, _BcWyKQL16ndpBdggh2kN...
2  0juMoWXC7z4c7LgQP2s3sA  [46Wi08T5D3phf3SMgi7U3w, HUxktqjf5kJm0tIHTCCws...

In [12]:
friend.shape

(23082, 2)

In [13]:
list_frineds=['friend_'+str(i) for i in range(1,461)]
print(list_frineds[:20])

['friend_1', 'friend_2', 'friend_3', 'friend_4', 'friend_5', 'friend_6', 'friend_7', 'friend_8', 'friend_9', 'friend_10', 'friend_11', 'friend_12', 'friend_13', 'friend_14', 'friend_15', 'friend_16', 'friend_17', 'friend_18', 'friend_19', 'friend_20']

In [14]:
len(friend)

23082

In [15]:
relation_friend=friend.explode('friends').rename(columns={"user_id": ":START_ID(user)",
                                                          "friends": ":END_ID(user)"})

In [16]:
relation_friend=relation_friend.dropna()
relation_friend.head(3)

          :START_ID(user)           :END_ID(user)
1  IpLRJY4CP3fXtlEd8Y4GFQ  y3Wtx1pOvTiqsJRkjceXiw
1  IpLRJY4CP3fXtlEd8Y4GFQ  _BcWyKQL16ndpBdggh2kNA
1  IpLRJY4CP3fXtlEd8Y4GFQ  lRRuTimITgwzoXLIM3g9qw

In [17]:
relation_friend.shape

(42776, 2)

In [18]:
relation_friend.to_csv(r'C:/Users/Utilisateur/Desktop/data_csv_neo4j/friend.csv',
                                 index = None)

## 3- Review  dataset
### Attributs des Relations
### review : 'review_id' , 'user_id' , 'business_id' , 'stars' , 'useful' , 'cool'

In [19]:
df = pd.read_json (r'pourLesEtudiants/yelp_data_json/yelp_review.json')
df.head(3)

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,2xlNGuN8naQTHO3_xY0lGw,8rrmvJ7W3ujplXuOhjE2Hg,yDiWYpuzRxcTgSi_O4JZpQ,5,0,0,0,This is the place for authentic Indian street ...,2017-03-27 13:27:52
1,_Dkml_CfMMb_wWeGpFtczg,TRFTDMJegE6DituEKBpEKQ,W6S482dRQ_9nCcLjfv8VNg,1,0,0,0,Food was great. But very disappointed with the...,2016-07-04 04:17:15
2,EmLTCw2p9BhOwnzHFXgGaQ,glO-c9FC0RaY2GyiamCQFA,OlOVRlcEstxKK_6hMjy63A,3,0,0,0,"One of the few diners in North Wilmington, and...",2014-08-25 03:05:45

In [20]:
review=df[[ 'user_id' , 'business_id' ,'review_id' , 'stars' , 'useful' , 'cool']]
relation_review=review.rename(columns={"user_id": ":START_ID(user)",
                                       "business_id": ":END_ID(restaurant)"})
relation_review.head(3)

,:START_ID(user),:END_ID(restaurant),review_id,stars,useful,cool
0,8rrmvJ7W3ujplXuOhjE2Hg,yDiWYpuzRxcTgSi_O4JZpQ,2xlNGuN8naQTHO3_xY0lGw,5,0,0
1,TRFTDMJegE6DituEKBpEKQ,W6S482dRQ_9nCcLjfv8VNg,_Dkml_CfMMb_wWeGpFtczg,1,0,0
2,glO-c9FC0RaY2GyiamCQFA,OlOVRlcEstxKK_6hMjy63A,EmLTCw2p9BhOwnzHFXgGaQ,3,0,0

In [21]:
relation_review.shape

(49150, 6)

In [22]:
relation_review=relation_review.dropna()
relation_review.head(3)

,:START_ID(user),:END_ID(restaurant),review_id,stars,useful,cool
0,8rrmvJ7W3ujplXuOhjE2Hg,yDiWYpuzRxcTgSi_O4JZpQ,2xlNGuN8naQTHO3_xY0lGw,5,0,0
1,TRFTDMJegE6DituEKBpEKQ,W6S482dRQ_9nCcLjfv8VNg,_Dkml_CfMMb_wWeGpFtczg,1,0,0
2,glO-c9FC0RaY2GyiamCQFA,OlOVRlcEstxKK_6hMjy63A,EmLTCw2p9BhOwnzHFXgGaQ,3,0,0

In [23]:
relation_review.to_csv(r'C:/Users/Utilisateur/Desktop/data_csv_neo4j/review.csv',
                                 index = None)

## 4 restaurant dataset
### Attributs des Noeuds
### restaurants : 'business_id' , 'name' , 'city' , 'stars' , 'review_count' , 
###                 'attributes' {'Ambience' , 'RestaurantsPriceRange2'} , 'categories'

In [24]:
df = pd.read_json(r'pourLesEtudiants/yelp_data_json/yelp_restaurants.json')
df.head(3)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Dy91wdWkwtI_qgjAIZ0Niw,Taqueria Los Primos,3322 Old Capitol Trl,Wilmington,DE,19808,39.732089,-75.625673,4.0,23,1,"{'BusinessAcceptsCreditCards': 'True', 'HasTV'...","Mexican, Restaurants",None
1,_Oksx3ALgKLRVxeAR8l_qA,V-Trap Kitchen and Lounge,607 N Lincoln St,Wilmington,DE,19805,39.750610,-75.570850,5.0,13,0,"{'RestaurantsGoodForGroups': 'True', 'Business...","Restaurants, Mexican, Arts & Entertainment, Ev...","{'Monday': '0:0-0:0', 'Tuesday': '12:0-19:0', ..."
2,_NhT0A3LUEd75L_cEXf2_A,Season's Pizza,1721 W Gilpin Dr,Wilmington,DE,19805,39.745736,-75.609874,3.0,7,1,"{'BusinessAcceptsCreditCards': 'True', 'Busine...","Restaurants, Pizza","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'..."

In [25]:
df.shape

(961, 14)

In [26]:
restau=df[['business_id' , 'name' ,'address', 'city' , 'stars' , 'review_count' ,
           'categories','attributes']]

In [27]:
#  no rengeprice !!!!
restau.loc[16]['attributes']

{'RestaurantsPriceRange2': '1',
 'BusinessParking': "{'garage': False, 'street': False, 'validated': False, 'lot': False, 'valet': False}",
 'BikeParking': 'True',
 'GoodForMeal': "{'dessert': False, 'latenight': False, 'lunch': False, 'dinner': False, 'brunch': False, 'breakfast': False}",
 'BusinessAcceptsCreditCards': 'True',
 'RestaurantsTakeOut': 'True',
 'Ambience': "{'touristy': False, 'hipster': False, 'romantic': False, 'divey': False, 'intimate': False, 'trendy': False, 'upscale': False, 'classy': False, 'casual': False}",
 'RestaurantsDelivery': 'True'}

In [28]:
print(restau.shape)
# # restau=restau.dropna()
# print(restau.shape)

(961, 8)

In [29]:
attribute=restau[['business_id','attributes']]
len(attribute)

961

In [30]:
for i in range(len(attribute)):
    if attribute.iloc[i]['attributes']==None:
        attribute.iloc[i]['attributes']={}

In [31]:
attribute.head()

              business_id                                         attributes
0  Dy91wdWkwtI_qgjAIZ0Niw  {'BusinessAcceptsCreditCards': 'True', 'HasTV'...
1  _Oksx3ALgKLRVxeAR8l_qA  {'RestaurantsGoodForGroups': 'True', 'Business...
2  _NhT0A3LUEd75L_cEXf2_A  {'BusinessAcceptsCreditCards': 'True', 'Busine...
3  A_-Vv5oKZNqxsV69_7E2KQ  {'RestaurantsGoodForGroups': 'True', 'BikePark...
4  JNH-hcySeuGmtI_t8dG3Dw  {'RestaurantsAttire': 'u'casual'', 'Ambience':...

In [32]:
for i in range(len(attribute['attributes'])):
    if i==None:
        print(attribute[i])

In [33]:
if 'RestaurantsPriceRange2' in attribute['attributes'][153].keys():
    print('yes')
else :
    print('no')

no

In [34]:
RestaurantsPriceRange2=[]
for i in range(len(attribute)):
    if 'RestaurantsPriceRange2' in attribute['attributes'][i].keys():
#         print(i,int(attribute['attributes'][i]['RestaurantsPriceRange2']))
        RestaurantsPriceRange2.append(int(attribute['attributes'][i]['RestaurantsPriceRange2']))
    else:
        RestaurantsPriceRange2.append(np.nan)
#         print(i,np.nan)
print(RestaurantsPriceRange2[:10])

[1, 2, nan, 2, 2, nan, 2, 1, 2, 2]

In [35]:
# no ambience !!!
if 'Ambience' in attribute['attributes'][13].keys():
    print('yes')
else :
    print('no')
restau.loc[14]['attributes']

no

{'WiFi': "'free'",
 'Caters': 'True',
 'Ambience': 'None',
 'RestaurantsTakeOut': 'None',
 'BusinessAcceptsCreditCards': 'True',
 'RestaurantsPriceRange2': '1',
 'RestaurantsDelivery': 'None'}

In [36]:
len(attribute['attributes'])

961

In [37]:
import ast
j=0
i=0
m=0
Ambiences=[]
for dic in attribute['attributes']:
    m+=1
    if 'Ambience' in dic.keys():
        j+=1
#         print(m,type(dic),'\n\n')
        dic=ast.literal_eval(dic['Ambience'])
        if(type(dic) is dict):
#             print(m,'iga dict \n\n')
            Amb=[]
            for (k,v) in dic.items():
                if v==True:
                    Amb.append(k)
            Ambiences.append(Amb)
        else:#(type(dic) == 'NoneType'):
            Ambiences.append([''])
#             print(m,'origi dict \n\n')
    else:
        Ambiences.append([''])
        i+=1
#         print(m,'walo ambience daa \n\n')

# (i+j,i,j,j-len(attribute['attributes']))

In [38]:
(len(RestaurantsPriceRange2),
 len(Ambiences))

(961, 961)

In [39]:
restau['RangePrice']=RestaurantsPriceRange2

C:\Users\Utilisateur\AppData\Local\Temp\ipykernel_6544\878507070.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restau['RangePrice']=RestaurantsPriceRange2

In [40]:
restau.head(3)

,business_id,name,address,city,stars,review_count,categories,attributes,RangePrice
0,Dy91wdWkwtI_qgjAIZ0Niw,Taqueria Los Primos,3322 Old Capitol Trl,Wilmington,4.0,23,"Mexican, Restaurants","{'BusinessAcceptsCreditCards': 'True', 'HasTV'...",1.0
1,_Oksx3ALgKLRVxeAR8l_qA,V-Trap Kitchen and Lounge,607 N Lincoln St,Wilmington,5.0,13,"Restaurants, Mexican, Arts & Entertainment, Ev...","{'RestaurantsGoodForGroups': 'True', 'Business...",2.0
2,_NhT0A3LUEd75L_cEXf2_A,Season's Pizza,1721 W Gilpin Dr,Wilmington,3.0,7,"Restaurants, Pizza","{'BusinessAcceptsCreditCards': 'True', 'Busine...",NaN

In [41]:
restau=restau.drop(['attributes'],axis=1)
restau.head(3)

,business_id,name,address,city,stars,review_count,categories,RangePrice
0,Dy91wdWkwtI_qgjAIZ0Niw,Taqueria Los Primos,3322 Old Capitol Trl,Wilmington,4.0,23,"Mexican, Restaurants",1.0
1,_Oksx3ALgKLRVxeAR8l_qA,V-Trap Kitchen and Lounge,607 N Lincoln St,Wilmington,5.0,13,"Restaurants, Mexican, Arts & Entertainment, Ev...",2.0
2,_NhT0A3LUEd75L_cEXf2_A,Season's Pizza,1721 W Gilpin Dr,Wilmington,3.0,7,"Restaurants, Pizza",NaN

In [42]:
restau['Ambiences']=Ambiences

In [43]:
restau.head(3)

,business_id,name,address,city,stars,review_count,categories,RangePrice,Ambiences
0,Dy91wdWkwtI_qgjAIZ0Niw,Taqueria Los Primos,3322 Old Capitol Trl,Wilmington,4.0,23,"Mexican, Restaurants",1.0,[divey]
1,_Oksx3ALgKLRVxeAR8l_qA,V-Trap Kitchen and Lounge,607 N Lincoln St,Wilmington,5.0,13,"Restaurants, Mexican, Arts & Entertainment, Ev...",2.0,[classy]
2,_NhT0A3LUEd75L_cEXf2_A,Season's Pizza,1721 W Gilpin Dr,Wilmington,3.0,7,"Restaurants, Pizza",NaN,[]

In [44]:
restau=restau.rename(columns={"business_id": "business_id:ID(restaurant)"})

In [45]:
restau.head(3)

,business_id:ID(restaurant),name,address,city,stars,review_count,categories,RangePrice,Ambiences
0,Dy91wdWkwtI_qgjAIZ0Niw,Taqueria Los Primos,3322 Old Capitol Trl,Wilmington,4.0,23,"Mexican, Restaurants",1.0,[divey]
1,_Oksx3ALgKLRVxeAR8l_qA,V-Trap Kitchen and Lounge,607 N Lincoln St,Wilmington,5.0,13,"Restaurants, Mexican, Arts & Entertainment, Ev...",2.0,[classy]
2,_NhT0A3LUEd75L_cEXf2_A,Season's Pizza,1721 W Gilpin Dr,Wilmington,3.0,7,"Restaurants, Pizza",NaN,[]

In [46]:
Nb_Ambiences=[]
for i in range(len(restau)):
#     print(i,len(restau['Ambiences'][i]))
    Nb_Ambiences.append(len(restau['Ambiences'][i]))

In [47]:
restau['Nb_Ambiences']=Nb_Ambiences

In [48]:
restau.head(3)

,business_id:ID(restaurant),name,address,city,stars,review_count,categories,RangePrice,Ambiences,Nb_Ambiences
0,Dy91wdWkwtI_qgjAIZ0Niw,Taqueria Los Primos,3322 Old Capitol Trl,Wilmington,4.0,23,"Mexican, Restaurants",1.0,[divey],1
1,_Oksx3ALgKLRVxeAR8l_qA,V-Trap Kitchen and Lounge,607 N Lincoln St,Wilmington,5.0,13,"Restaurants, Mexican, Arts & Entertainment, Ev...",2.0,[classy],1
2,_NhT0A3LUEd75L_cEXf2_A,Season's Pizza,1721 W Gilpin Dr,Wilmington,3.0,7,"Restaurants, Pizza",NaN,[],1

In [49]:
restau.to_csv(r'C:/Users/Utilisateur/Desktop/data_csv_neo4j/restaurant.csv',
                                 index = None)

In [50]:
Nb_categories=[]
for i in range(len(restau)):
#     print(i,len(restau['Ambiences'][i]))
    Nb_categories.append(len(restau['categories'][i].split(',')))

In [51]:
Nb_categories[:10]

[2, 12, 2, 9, 2, 2, 4, 5, 4, 4]

In [52]:
restau['Nb_categories']=Nb_categories

In [53]:
restau.to_csv(r'C:/Users/Utilisateur/Desktop/importer/restaurant.csv',
                                 index = None)

In [54]:
#  delete [''] : ----> vide

### pour importer les noudes et les relations

#commande pour importer les fichiers csv en neo4j

.\bin\neo4j-admin import --database=graph.db --nodes=user=\C:\Users\Utilisateur\Desktop\data_csv_neo4j\user.csv --nodes=restaurant=\C:\Users\Utilisateur\Desktop\data_csv_neo4j\restaurants.csv --relationships=friend=\C:\Users\Utilisateur\Desktop\data_csv_neo4j\friend.csv --relationships=review=\C:\Users\Utilisateur\Desktop\data_csv_neo4j\review.csv --trim-strings=true --force --multiline-fields=true

# 2-Interrogation des données

In [4]:
#  un sous graph de notre projet:
Image(url='./screen_neo4j/graph.png', width=500, height=500)

### 2-1. Donner le nombre de noeuds par label;

In [6]:
# MATCH (n:user)
# RETURN count(*)
# import image module
Image(url='./screen_neo4j/requests/R1.png', width=500, height=500)

In [7]:
# MATCH (n:restaurant)
# RETURN count(*)

Image(url='./screen_neo4j/requests/R2.png', width=500, height=500)

### 2-2. Donner le nombre de relations par type;

In [9]:
# MATCH (u:user)-[r:friend]->(v:user)
# RETURN count(*)

Image(url='./screen_neo4j/requests/R3.png', width=500, height=500)

In [10]:
# MATCH (u:user)-[r:review]->(n:restaurant)
# RETURN count(*)

Image(url='./screen_neo4j/requests/R4.png', width=500, height=500)

### 2-3. Donner la ou les catégories du restaurant 8th & Union Kitchen;

In [11]:
# match (r:restaurant)
# where r.name='8th & Union Kitchen'
# return r.categories

Image(url='./screen_neo4j/requests/R5.png', width=500, height=500)

### 2-4. Donner la ou les ambiances du restaurant 8th & Union Kitchen;

In [12]:
# match (r:restaurant)
# where r.name='8th & Union Kitchen'
# return r.Ambiences

Image(url='./screen_neo4j/requests/R6.png', width=500, height=500)

### 5. Donner les reviews du restaurant Tokyo Sushi;

In [13]:
# MATCH (n:restaurant{name:'Tokyo Sushi'})<-[r:review]-(user)
# RETURN r
Image(url='./screen_neo4j/requests/R71.png', width=500, height=500)

In [14]:
# pour afficher le nombre de review:
# MATCH (n:restaurant{name:'Tokyo Sushi'})<-[r:review]-(user)
# RETURN count(*)
Image(url='./screen_neo4j/requests/R72.png', width=500, height=500)

### 2-6. Donner les couples d’utilisateurs amis qui ont reviewé le restaurant Tokyo Sushi;

In [15]:
# match (u:user)-[:review]->(r:restaurant{name:'Tokyo Sushi'})<-[:review]-(v:user), 
# (u:user)-[:friend]->(v:user), 
# (u:user)<-[:friend]-(v:user)
# return distinct u.name,v.name
Image(url='./screen_neo4j/requests/R8.png', width=500, height=500)

### 2-7. Qui est l’utilisateur qui a le plus d’amis ?

In [16]:
# match (u:user)
# return u.name,u.nb_friends
# order by u.nb_friends desc
# limit 1
Image(url='./screen_neo4j/requests/R9.png', width=400, height=400)

### 2-8. Qui sont les amis des reviewers du restaurant Tokyo Sushi qui ont reviewés des restaurants avec les mêmes ambiances ?

In [17]:
# match (u:user)-[r:review]->(n:restaurant{name: 'Tokyo Sushi'}),
# (u2:user)-[:friend]->(u:user), 
# (u2:user)-[:review]->(n2:restaurant)
# where n.Ambiences = n2.Ambiences
# return distinct u2.name,u.name
Image(url='./screen_neo4j/requests/R10.png', width=500, height=500)

### 2-9. Combien de paires de personnes ont au moins 10 restaurants aimés en commun ? (un restaurant est ’aimé’ si la review a une note (stars) >= 4)

In [18]:
# match (u:user)-[ru:review]->(r:restaurant)<-[rv:review]-(v:user)
# WITH count(r) as restau, count(ru.stars) as a, count(rv.stars) as b, u.name as name_user1, v.name as name_user2
# where a>=4 and b>=4 and mm>=10
# return distinct count(*) as common_numbername_user1
# // return count(*) as N_of_common_likes_10
Image(url='./screen_neo4j/requests/R11.png', width=500, height=500)

## 3 Application : moteur de recommandation d’influenceurs

### 3.1 Codage de l’application

Produire une application en Python reposant sur la base de données Neo4j, prenant en entrée des informations sur un restaurant à promovoir :
• ville (chaîne de caractères)
• ambiances (tableau de chaines de caractères)
• catégories (tableau de chaines de caractères)
• catégorie tarifaire (entier)
et renvoyant les 10 utilisateurs les plus intéressants à inviter pour ce restaurant.

### 3.2 Test de l’application

     On indique la liste d’utilisateurs et scores associés obtenue pour les tests suivants, 
 avec α = 0.3, β = 0.3, γ = 0.3 et δ = 0.1 :
• ’Wilmington’, [’casual’], [’Pizza’,’Burgers’,’Italian’], 1
• ’Wilmington’, [’casual, ’romantic’],[’Chinese’], 2
• ’Wilmington’,[’hipster’][’Nightlife’,’Bars’],1
• ’New Castle’, [’casual’,’classy’],[’Coffee & Tea’],2
• ’New Castle’, [’classy’],[’Seafood’],1

In [68]:
# pip install py2neo

In [69]:
from py2neo import Graph

In [72]:
graph = Graph("bolt://localhost:7687", 
              auth=("neo4j", "proj"))
q = """
match (u:user) return u.name as username
"""
res = graph.run(q).to_table()

In [73]:
# for record in res :
#     print(record[0])
print(res[:10])

[('Jenna',), ('Brian',), ('Jie',), ('Elva',), ('Kathy',), ('Michael',), ('Lan',), ('Cece',), ('Donna',), ('Timmy',)]

## Cas d’étude
### Besoins

In [74]:
# df_user=pd.read_csv('user.csv')
# df_restaurants=pd.read_csv('restaurant.csv')
# df_review=pd.read_csv('review.csv')
# df_friend=pd.read_csv('friend.csv')

In [75]:
## version dataframe 
# def score1_social_immediat(user_id):
#     nb_friends = len(list(df_user.loc[df_user['user_id'] == user_id].friends)[0])
#     return nb_friends/ df_user['nb_friends'].max()
# score1_social_immediat('IpLRJY4CP3fXtlEd8Y4GFQ')

In [76]:
def score1_social_immediat_neo4j(i):
    q1 = """
    match (u:user) 
    where u.user_id=$idd
    return toFloat(u.nb_friends) as nb_friends
    """
    q2="""
    MATCH (u:user) 
    RETURN max(toFloat(u.nb_friends)) as max
    """
    res1 = graph.run(q1,idd=i).to_table()
    res2 = graph.run(q2).to_table()
#     print(res1[0][0])
#     print(res2[0][0])
    return res1[0][0]/res2[0][0]
score1_social_immediat_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ')

0.049891540130151846

In [77]:
# len(df_user.loc[df_user['user_id'] == 'TRFTDMJegE6DituEKBpEKQ'].friends)

In [78]:
# # version dataframe 
# def  score2_social_second_niveau(user_id):
#     amis = list(df_user.loc[df_user['user_id'] == user_id].friends)[0]
#     print(amis)
#     nb_friends_total = 0
#     for i in amis:
#         nb_friends = len(list(df_user.loc[df_user['user_id'] == i].nb_friends))
#         nb_friends_total += nb_friends
#     return nb_friends_total / df_user['nb_friends'].max()

# score2_social_second_niveau('12Cd6TiyLHOXNP7iZ_t5kg')

In [79]:
def score2_social_second_niveau_neo4j(i):
    q1="""
    MATCH (n:user)
    WHERE n.user_id=$idd
    MATCH  (n)-[:friend*2]-(m) 
    RETURN toFloat(count(m.friends))
    """
    q2="""
    MATCH (n:user) 
    MATCH  (n)-[:friend*2]-(m) 
    RETURN  max(toFloat(m.nb_friends))
    """
    res1 = graph.run(q1,idd=i).to_table()
    res2 = graph.run(q2).to_table()
    return res1[0][0]/res2[0][0]

score2_social_second_niveau_neo4j('1-gnHNzZNbn8lFwYRF_CtA')

2.2689804772234274

In [80]:
#version dataframe
# def score3_intrinseque(user_id):
#     for i in range(len(df_user)):
#         if df_user['user_id'][i]==user_id :
#             return df_user['fans'][i] / np.max(list(df_user['fans']))
# score3_intrinseque('TRFTDMJegE6DituEKBpEKQ')

In [81]:
def score3_intrinseque_neo4j(i):
    q1="""
    MATCH (n:user)
    WHERE n.user_id=$idd
    MATCH  (n)-[:friend*2]-(m) 
    RETURN toFloat(count(m.friends))
    """
    q2="""
    MATCH (u:user) 
    RETURN max(toFloat(u.fans))
    """
    res1 = graph.run(q1,idd=i).to_table()
    res2 = graph.run(q2).to_table()
    return res1[0][0]/res2[0][0]

score3_intrinseque_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ')

1.4228456913827656

In [82]:
def facteur_centralité(user_id):
    return np.mean([score1_social_immediat_neo4j(user_id),
                  score2_social_second_niveau_neo4j(user_id),
                  score3_intrinseque_neo4j(user_id)],axis=0)

In [83]:
facteur_centralité('IpLRJY4CP3fXtlEd8Y4GFQ')

4.084549431473214

In [84]:
# # version dataframe
# def  score4_validité(user_id):
#     useful=list(df_review.loc[df_review['user_id'] == user_id].useful)[0] 
#     review_count=list(df_user.loc[df_user['user_id'] == user_id].review_count)[0]
#     return useful/review_count

# score4_validité('IpLRJY4CP3fXtlEd8Y4GFQ')

In [85]:
def score4_validité_neo4j(i):
    q1="""
    MATCH (u:user)-[r:review]->(m:restaurant)
    WHERE u.user_id=$idd and toFloat(r.useful)>=1 
    RETURN count(*)
    """
    q2="""
    MATCH (u:user) 
    WHERE u.user_id=$idd
    RETURN toFloat(u.review_count)
    """
    res1 = graph.run(q1,idd=i).to_table()
    res2 = graph.run(q2,idd=i).to_table()
    return res1[0][0]/res2[0][0]

score4_validité_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ')

0.005791505791505791

In [86]:
# # version dataframe
# def score5_coolitude(user_id):
#     cool=list(df_review.loc[df_review['user_id'] == user_id].cool)[0]
#     review_count=list(df_user.loc[df_user['user_id'] == user_id].review_count)[0]
#     return cool/review_count
# score5_coolitude('IpLRJY4CP3fXtlEd8Y4GFQ')

In [87]:
def score5_coolitude_neo4j(i):
    q1="""
    MATCH (u:user)-[r:review]->(m:restaurant)
    WHERE u.user_id=$idd and toFloat(r.cool)>=1 
    RETURN count(*)
    """
    q2="""
    MATCH (u:user) 
    WHERE u.user_id=$idd
    RETURN toFloat(u.review_count)
    """
    res1 = graph.run(q1,idd=i).to_table()
    res2 = graph.run(q2,idd=i).to_table()
    return res1[0][0]/res2[0][0]

score5_coolitude_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ')

0.0019305019305019305

In [88]:
def facteur_validité(user_id):
    return np.mean([score4_validité_neo4j(user_id),
                  score5_coolitude_neo4j(user_id),
                  ],axis=0)
facteur_validité('IpLRJY4CP3fXtlEd8Y4GFQ')

0.003861003861003861

In [89]:
# def score6_adequation_ambiance(user_id , restaurant_id):
#     nb_ambience = len(list(df_restaurants.loc[df_restaurants['business_id'] ==
#                                               restaurant_id]['Ambiences'])[0])
#     reviews = list(df_user.loc[df_user['user_id'] == user_id].review_count)[0]
#     ambiences = list(df_restaurants.loc[df_restaurants['business_id'] == restaurant_id]['Ambiences'])[0]
#     touslesrestau = list(df_review.loc[df_review['user_id'] == user_id]['business_id'])
#     filtered = []
#     for am in ambiences:
#         for i in touslesrestau:
#             if am in list(df_restaurants.loc[df_restaurants['business_id'] == i]['Ambiences'])[0] :
#                 filtered.append(i)
#     sum = 0
#     for i in filtered:
#         if list(df_review.loc[df_review['business_id'] == i]['stars'])[0] >= 4 :
#             sum += 1
#     return (sum/reviews)/nb_ambience

In [90]:
def score6_adequation_ambiance_neo4j(i , j):
    q1="""
    MATCH (u:user)-[r:review]->(m:restaurant)
    WHERE u.user_id=$idi and toFloat(r.stars)>=4
    RETURN count(*) as NbPositive
    """
    q2="""
    MATCH (u:user) 
    WHERE u.user_id=$idi
    RETURN tointeger(u.review_count)
    """
    q3="""
    match (r:restaurant)
    WHERE r.business_id=$idj
    return toInteger(r.Nb_Ambiences)
    """
    res1 = graph.run(q1,idi=i).to_table()
    res2 = graph.run(q2,idi=i).to_table()
    m = graph.run(q3,idj=j).to_table()
    return (res1[0][0]/res2[0][0])/m[0][0]
score6_adequation_ambiance_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ' , 'Dy91wdWkwtI_qgjAIZ0Niw')

0.005791505791505791

In [91]:
# def score7_adequation_categorie(user_id , restaurant_id):
#     nb_categorie = len(list(df_restaurants.loc[df_restaurants['business_id'] == restaurant_id]['categories'])[0])
#     reviews = list(df_user.loc[df_user['user_id'] == user_id].review_count)[0]
#     categories = list(df_restaurants.loc[df_restaurants['business_id'] == restaurant_id]['categories'])[0]
#     touslesrestau = list(df_review.loc[df_review['user_id'] ==user_id]['business_id'])
#     filtered = []
#     for am in categories:
#         for i in touslesrestau:
#             if am in list(df_restaurants.loc[df_restaurants['business_id'] == i]['categories'])[0] :
#                 filtered.append(i)
#     sum = 0
#     for i in filtered:
#         if list(df_review.loc[df_review['business_id'] == i]['stars'])[0] >= 4 :
#             sum += 1
#     return (sum/reviews)/nb_categorie
# score7_adequation_categorie('KZNpUHqATkV6CfDMwC8HzQ' , '5R6YO6K9PkthkTbXqV9slQ')

In [92]:
def score7_adequation_categorie_neo4j(i , j):
    q1="""
    MATCH (u:user)-[r:review]->(m:restaurant) 
    WHERE u.user_id=$idi and toFloat(r.stars)>=4 
    RETURN count(*) as NbPositive
    """
    q2="""
    MATCH (u:user) 
    WHERE u.user_id=$idi
    RETURN tointeger(u.review_count)
    """
    q3="""
    match (r:restaurant)
    WHERE r.business_id=$idj
    return toInteger(r.Nb_categories)
    """
    res1 = graph.run(q1,idi=i).to_table()
    res2 = graph.run(q2,idi=i).to_table()
    m = graph.run(q3,idj=j).to_table()
    return (res1[0][0]/res2[0][0])/m[0][0]
score7_adequation_categorie_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ' , 'Dy91wdWkwtI_qgjAIZ0Niw')

0.0028957528957528956

In [93]:
# def score8_adequation_tarif(user_id , restaurant_id):
#     reviews = list(df_user.loc[df_user['user_id'] == user_id].review_count)[0]
#     pricerange = list(df_restaurants.loc[df_restaurants['business_id'] == restaurant_id]['RangePrice'])[0]
#     touslesrestau = list(df_review.loc[df_review['user_id'] ==user_id]['business_id'])
#     filtered = []
#     for i in touslesrestau:
#         if list(df_restaurants.loc[df_restaurants['business_id'] == i]['RangePrice'])[0] ==pricerange  :
#             filtered.append(i)
#     sum = 0
#     for i in filtered:
#         if list(df_review.loc[df_review['business_id'] == i]['stars'])[0] >= 4 :
#             sum += 1
#     return (sum)/reviews
# score8_adequation_tarif('KZNpUHqATkV6CfDMwC8HzQ' , '5R6YO6K9PkthkTbXqV9slQ')

In [107]:
def score8_adequation_categorie_neo4j(i , j, p):
    q1="""
    MATCH (u:user)-[r:review]->(b:restaurant)
    WHERE  toFloat(r.stars)>=4 
        and u.user_id=$idi 
        and b.business_id=$idj
        and b.RangePrice=$price
    RETURN count(*) as NbPositivePrice
    """
    q2="""
    MATCH (u:user) 
    WHERE u.user_id=$idi
    RETURN tointeger(u.review_count)
    """
    res1 = graph.run(q1,idi=i,idj=j, price=p).to_table()
    res2 = graph.run(q2,idi=i).to_table()
    return res1[0][0]/res2[0][0]

score8_adequation_categorie_neo4j('hefsTMvc-iSBsY_Nfa8WCg','5IFqqWJTaPNoY2ZgRlX73w','2.0')

0.04

In [132]:
def facteur_adequation(user_id, restaurant_id,p):
    return np.mean([
        score6_adequation_ambiance_neo4j(user_id, restaurant_id),
        score7_adequation_categorie_neo4j(user_id , restaurant_id),
        score8_adequation_categorie_neo4j(user_id , restaurant_id,p) ],axis=0)

facteur_adequation('KZNpUHqATkV6CfDMwC8HzQ' , '5R6YO6K9PkthkTbXqV9slQ','2.0')

0.09684684684684684

In [133]:
def score9_geographique_neo4j(i , j, v):
    q1="""
    MATCH  (n:user)-[:friend]->(m:user)-[r:review]->(b:restaurant)
    WHERE b.business_id=$idj 
      and b.city=$ville
    RETURN count(toFloat(m.review_count))
    """
    q2="""
    MATCH  (n:user)-[:friend]->(m:user)
    WHERE n.user_id=$idi 
    RETURN sum(toFloat(m.review_count))
    """
    res1 = graph.run(q1,idj=j,ville=v).to_table()
    res2 = graph.run(q2,idi=i).to_table()
    return res1[0][0]/res2[0][0]

score9_geographique_neo4j('IpLRJY4CP3fXtlEd8Y4GFQ' , 'Dy91wdWkwtI_qgjAIZ0Niw', 'Wilmington')

0.007745797024909779

## Recommandatations

In [ ]:
from random import randrange

In [109]:
test_1= {'business_id' : 'Mon_id_1', 'city' : "Wilmington", 'Ambiences' : ["casual"],            'RangePrice': 1, 'categories' : ["Pizza","Burgers", "Italian"]}
test_2= {'business_id' : 'Mon_id_2', 'city' : "Wilmington", 'Ambiences' : ["casual","romantic"], 'RangePrice': 2, 'categories' : ["Chinese"]}        
test_3= {'business_id' : 'Mon_id_3', 'city' : "Wilmington", 'Ambiences' : ["hipster"],           'RangePrice': 1, 'categories' : ["Nightlife","Bars"] }      
test_4= {'business_id' : 'Mon_id_4', 'city' : "New Castle", 'Ambiences' : ["casual","classy"],   'RangePrice': 2, 'categories' : ["Coffee & Tea"]}         
test_5= {'business_id' : 'Mon_id_5', 'city' : "New Castle", 'Ambiences' : ["classy"],            'RangePrice': 1, 'categories' : ["Seafood"]}

In [111]:
test_1['business_id']

'Mon_id_1'

In [128]:
q1="""
    match (u:user)
    return u.user_id
"""
user_ids = graph.run(q1).to_table()

In [129]:
user_ids[1]

('XYebnhvfAEiWmsuYSVdJgA',)

In [ ]:
def recommend(test, alpha,beta,gamma,delta):
    user_scores = []
    q1="""
    match (u:user)
    return u.user_id
    """
    df_user = graph.run(q1).to_table()
    
    for user in range(len(ids)):
        f1=alpha *facteur_centralité(user)
        f2=beta *facteur_validité(user)
        f3=gamma *facteur_adequation(user , test['business_id'],test['RangePrice'])
        S9=delta* score9_geographique_neo4j(user , test['business_id'], test['city'])
        s=f1+f2+f3+S9
        user_scores.append([s,user])
    return user_scores

In [ ]:
dataframe=pd.DataFrame(user_scores)
dataframe=dataframe.sort()
dataframe.head(10)

In [ ]:
def score_user(user, restaurant,  alpha, beta, gamma, delta):
    return alpha * facteur_centralité(user) + beta * facteur_validité(user)  +  gamma * facteur_adequation(user, restaurant) + delta* score9_geographique_neo4j(user, restaurant)

score_user('KZNpUHqATkV6CfDMwC8HzQ' , '5R6YO6K9PkthkTbXqV9slQ',  0.5,0.4,0.3,0.2)